* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }
    
    body {
    
    font-family: cursive;
    background-color: darkgray;
    
    }
    
    a {
    
    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }

    /* NAVBAR STYLING STARTS */

.navbar {
    background-image: url(images/banner.jpg);
    background-position: center;
    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 20px;
    
    color: #fff;
    
    }
    
    .nav-links a {
    
    color: #fff;
    
    }
    
   
    
    /* NAVBAR MENU */
    
    .menu {
    
    display: flex;
    
    gap: 1em;
    
    font-size: 18px;
    
    }
    
    .menu li:hover {
    
    background-color: darkred;
    
    border-radius: 5px;
    
    transition: 0.3s ease;
    
    }
    
    .menu li {
    
    padding: 5px 14px;
    
    }
    
    /* DROPDOWN MENU */
    
    .categories {
    
    position: relative; 
    
    }
    
    .dropdown {
    
    background-color: rgb(187, 0, 0);
    
    padding: 1em 0;
    
    position: absolute; /*WITH RESPECT TO PARENT*/
    
    display: none;
    
    border-radius: 8px;
    
    top: 35px;
    
    }
    
    .dropdown li + li {
    
    margin-top: 10px;
    
    }
    
    .dropdown li {
    
    padding: 0.5em 1em;
    
    width: 8em;
    
    text-align: center;
    
    }
    
    .dropdown li:hover {
    
    background-color: rgb(10, 0, 0);
    
    }
    
    .categories:hover .dropdown {
    
    display: block;
    
    }
    .search_bar{
     
     height: 70px;
     display: flex;
     background-color: black;

     
    }
    
.search{
    
    display: flex;
    margin: auto;

    
}

/* Style buttons */
.btn {
    background-color: rgb(175, 14, 9); 
    border: none; 
    color: white;
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(224, 7, 0);
  }
  .authentifier{
    padding-right: 20px;

  }
  .login:hover{
    text-decoration: underline;
  }
  .search_input {
    width: 400px;
 }
 .login{
    color: white;
    font-size: 20px;
 }